/* 1440px */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  font-size: 18px;
  min-height: 20vh;
}

.outer-div{
  max-width: 260px;
  margin: 0 auto;
  background-color: hsl(216, 50%, 16%);
  margin-top: 60px;
  padding: 18px;
  border-radius: 17px;
}

.inner-div img{
  width: 100%;
  border-radius: 10px;
}

.outer-div .inner-div{
  position: relative;
}
.outer-div .inner-div div{
  position: absolute;
  top: 0;
  background-color:  hsl(178, 100%, 50%, 60%);
  border-radius: 10px;
  width: 100%;
  height: 98.5%;
  Z-index: 999;
  opacity: 0;
}

.outer-div .inner-div div img{
  max-width: 10%;
  position: absolute;
  left: 45.5%;
  top: 45.5%;

}
.person{
  display: inline-block;
  width: 10%;
}
h4{
  color: hsl(0, 0%, 100%);
  padding-top: 10px;
}

.text p{
  padding-top: 10px;
  color: hsl(215, 32%, 27%);
  font-size: 0.9em;
}

.tog{
  display: flex;
  padding-bottom: 20px;
  padding-top: 10px
}

.ethereum{
  display: flex;
 align-items: center;
 padding-top: 10px;
}
.try{
  width: 11%;
}

.try2{
  padding-left: 6px;
  color: hsl(178, 100%, 50%);
  font-size: 0.6em;
}

.clock{
  display: flex;
  align-items: center;
  padding-left: 110px;
  font-size: 0.8em;
}

.iclock{
  align-items: center;
  padding-top: 10px;
  width: 14%;

}
.days{
  padding-top: 10px;
  color:  hsl(215, 32%, 27%);
  padding-left: 6px;
}
.footer{
  display: flex;
  padding-top: 14px;
  font-size: 0.7em;

}
.foot{
  padding-left: 14px;
  padding-top: 6px;
  color: hsl(215, 32%, 27%);
}
.name{
  color: hsl(0, 0%, 100%);
}
.person{
outline: 1px solid white;
border-radius: 50%;
}
.line{
  background-color: hsl(215, 32%, 27%);
  height: 1px;
  border: 0;
}
/* pseudo class */

.name:hover{
 cursor: pointer;
 color: hsl(178, 100%, 50%);
}
h4:hover{
 cursor: pointer;
 color: hsl(178, 100%, 50%);
}
.outer-div .inner-div div:hover{
  opacity: 1
}

/* 375px */

@media screen and (max-width: 375px){

  body{
    margin: 0 1em;
  }
